:root {
    --dark-purp-btn: #ac99ea;
}

[data-bs-theme=light] {
    --span-color: var(--light-purp);
    --btn-bg: var(--light-purp);
    --bs-form-check-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

[data-bs-theme=dark] {
    --span-color: var(--dark-purp-btn);
    --btn-bg: var(--dark-purp-btn);
    --bs-form-check-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

button[type="submit"], button[type="submit"]:hover, button[type="submit"]:active, button[data-bs-dismiss] {
    color: var(--bs-body-bg) !important;
    background-color: var(--btn-bg) !important;
    font-family: "Segoe UI";
    font-weight: 500;
}

span {
    color: var(--span-color);
}

#_honey {
    display: none;
}

.form-group {
    margin-bottom: 16px;
}

.form-control {
    color: var(--alt-hover);
    background-color: var(--header);
    border-color: var(--hover);
}

    .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.15rem var(--purp);
        border-color: var(--hover);
    }

.form-check-input, .form-check-input:active {
    background-color: var(--header);
    border-color: var(--hover);
    filter: brightness(100%);
}

    .form-check-input:checked[type=checkbox] {
        background-color: var(--span-color);
        background-image: var(--bs-form-check-image);
        border-color: var(--hover);
    }

#form-name {
    float: left;
    min-width: 48%;
    margin-right: 4%
}

#form-email {
    float: right;
    min-width: 48%;
    transition: float 0.3s ease, margin 0.3s ease;
}

#form-message {
    clear: both;
}

@media screen and (max-width: 576px) {
    #form-name, #form-email {
        float: none;
        margin: auto auto 16px auto;
    }
}

textarea {
    resize: none;
}

.modal {
    color: var(--bs-body-color);
}

.modal-title {
    margin: auto;
}

.modal-header, .modal-footer {
    background-color: var(--header);
    border: none;
}

.modal-body {
    background-color: var(--bs-body-bg);
}
