h3 {
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

p {
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 160%;
}

.internal {
    text-decoration: none;
}

.dark-mode h4::after {
    background: var(--gradient-dark);
}
