h1 {
    font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
    color: transparent;
    background: linear-gradient(128.87deg, #9780e5 14.05%, #e666cc 89.3%);
    -webkit-background-clip: text;
    width: min-content;
}
