.card {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    padding: 5px;
    border: none;
}

.card-body {
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: var(--border);
}

    .card-body:hover {
        border-color: var(--purp);
    }

a, a:hover {
    text-decoration: none;
    color: var(--bs-body-color);
}

.media-left {
    float: left;
    padding: 12px 0 15px 15px;
}

.svg-filter {
    filter: var(--purp-filter);
}

.media-body {
    float: left;
    padding: 15px 0 15px 15px;
    margin-left: 20px;
    margin-top: 6px;
}
