#options {
    display: none;
}

.filter-option .sub-options {
    display: none;
}

.filter-option:hover .sub-options {
    display: block;
}

.project-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
}
