:root {
    --uni-border: #C8C8C8;
}

.card {
    padding: 5px;
    border: none;
}

.card-body {
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

.media-left {
    float: left;
    padding: 15px 0 15px 15px;
}

.media-body {
    float: left;
    padding: 15px 0 15px 15px;
    margin-left: 20px;
    margin-top: 6px;
}

/* Light Mode */
.light-mode .card {
    color: var(--dark);
    background-color: var(--light);
}

.light-mode .card-body {
    border-color: var(--uni-border);
}

    .light-mode .card-body:hover {
        border-color: var(--light-purp);
    }

.light-mode a {
    color: var(--dark);
}

.light-mode .media-left {
    color: var(--light-purp);
}

/* Dark Mode */
.dark-mode .card {
    color: var(--light);
    background-color: var(--dark);
}

.dark-mode .card-body {
    border-color: var(--uni-border);
}

    .dark-mode .card-body:hover {
        border-color: var(--dark-purp);
    }

.dark-mode a {
    color: var(--light);
}

.dark-mode .media-left {
    color: var(--dark-purp);
}