:root {
    --light: #F5F5F5;
    --light-sec: #FDFDFD;
    --light-hover: #BBB;
    --light-purp: #512BD4;
    --light-purp-hover: #4122AA;
    --light-border: #C8C8C8;
    --dark: #1F1F1F;
    --dark-sec: #272727;
    --dark-hover: #555;
    --dark-purp: #9780E5;
    --dark-purp-hover: #B9AAEE;
    --dark-border: #474747;
    --gradient-light: linear-gradient(128.87deg,#512BD4 14.05%,#D600AA 89.3%);
    --gradient-dark: linear-gradient(128.87deg, #E666CC 14.05%, #9780E5 89.3%);
}

[data-bs-theme=light] {
    --bs-body-color: var(--dark);
    --bs-body-bg: var(--light);
    --sun-visibility: none;
    --moon-visibility: inline;
    --hover: var(--light-hover);
    --alt-hover: var(--dark-hover);
    --header: var(--light-sec);
    --thumb: var(--light-hover);
    --thumb-hover: #999999;
    --h1-bg: var(--gradient-light);
    --purp: var(--light-purp);
    --purp-filter: invert(24%) sepia(67%) saturate(3001%) hue-rotate(245deg) brightness(80%) contrast(112%);
    --purp-hover: var(--light-purp-hover);
    --border: var(--light-border);
}

[data-bs-theme=dark] {
    --bs-body-color: var(--light);
    --bs-body-bg: var(--dark);
    --sun-visibility: inline;
    --moon-visibility: none;
    --hover: var(--dark-hover);
    --alt-hover: var(--light-hover);
    --header: var(--dark-sec);
    --thumb: #474747;
    --thumb-hover: var(--dark-hover);
    --h1-bg: var(--gradient-dark);
    --purp: var(--dark-purp);
    --purp-filter: invert(54%) sepia(92%) saturate(1332%) hue-rotate(214deg) brightness(95%) contrast(89%);
    --purp-hover: var(--dark-purp-hover);
    --border: var(--dark-border);
}

#moon {
    display: var(--moon-visibility);
    padding-bottom: 3px;
}

#sun {
    display: var(--sun-visibility);
    padding-bottom: 3px;
}

#theme {
    color: var(--bs-body-color);
}

    #theme:hover {
        background-color: var(--hover);
    }

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bs-body-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--thumb);
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--thumb-hover);
    }

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    min-width: 360px;
}

header {
    font-family: 'Segoe UI', SegoeUI, Arial, sans-serif;
    margin-bottom: 12px;
    background-color: var(--header);
}

.navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-link {
    position: relative;
    padding: 0.7em 0.85em;
    border-radius: 6px;
}

.navbar a {
    color: var(--bs-body-color);
}

    .navbar a:hover {
        background-color: var(--hover);
    }

    .navbar a.active {
        color: var(--bs-body-color);
    }

        .navbar a.active::after {
            content: '';
            position: absolute;
            display: inline-block;
            bottom: 0.5em;
            left: 0.85em;
            right: 0.85em;
            height: 0.2em;
            background-color: var(--bs-body-color);
        }

a {
    color: var(--purp);
}

    a:hover {
        color: var(--purp-hover);
    }

h1 {
    font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
    font-size: calc(2rem + 1.5vw);
    color: transparent;
    max-width: max-content;
    text-align: center;
    margin: 1em auto auto auto;
    background: var(--h1-bg);
    -webkit-background-clip: text;
}

.footer {
    padding: 1.25em 0;
    text-align: center;
    clear: both;
}

.social-media-list {
    padding: 0;
}

    .social-media-list li {
        display: inline-block;
        margin: 0 0.625em;
    }

    .social-media-list a {
        font-size: 1.25em;
        color: var(--bs-body-color);
        padding-bottom: 3px;
    }

@media screen and (max-width: 576px) {
    #theme {
        margin-right: 0.75em;
    }

    .navbar-nav {
        margin-left: 0.75em;
    }
}