:root {
    --light: #F5F5F5;
    --light-sec: #FCFCFC;
    --light-hover: #ddd;
    --light-purp: #512bd4;
    --light-purp-hover: #4122AA;
    --dark: #1F1F1F;
    --dark-sec: #272727;
    --dark-hover: #555;
    --dark-purp: #9780e5;
    --dark-purp-hover: #B9AAEE;
    --gradient-light: linear-gradient(128.87deg,#512bd4 14.05%,#d600aa 89.3%);
    --gradient-dark: linear-gradient(128.87deg, #e666cc 14.05%, #9780e5 89.3%);
}

.transition {
    transition:
        background-color 0.1s linear,
        border-color 0.1s linear,
        color 0.05s linear,
        background-image 0.1s linear;
}

::-webkit-scrollbar {
    width: 8px;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    min-width: 360px;
}

header {
    font-family: 'Segoe UI', SegoeUI, Arial, sans-serif;
    margin-bottom: 12px;
}

.navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-link {
    position: relative;
    padding: 0.7em 0.85em;
}

    .navbar a.active::after {
        content: '';
        position: absolute;
        display: inline-block;
        bottom: 0.5em;
        left: 0.85em;
        right: 0.85em;
        height: 0.2em;
        transition: background-color 0.1s ease;
    }

@media screen and (max-width: 576px) {
    #dark-mode-toggle {
        margin-right: 0.75em;
    }
}

h1 {
    font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
    font-size: calc(2rem + 1.5vw);
    color: transparent;
    max-width: max-content;
    text-align: center;
    margin: 1em auto auto auto;
}

.footer {
    padding: 1.25em 0;
    text-align: center;
    clear: both;
}

.social-media-list {
    padding: 0;
}

    .social-media-list li {
        display: inline-block;
        margin: 0 0.625em;
    }

    .social-media-list a {
        font-size: 1.25em;
    }

/* Light Mode */
.light-mode {
    background-color: var(--light);
    color: var(--dark);
}

    .light-mode::-webkit-scrollbar-track {
        background: var(--light);
    }

    .light-mode::-webkit-scrollbar-thumb {
        background: #BBBBBB;
    }

        .light-mode::-webkit-scrollbar-thumb:hover {
            background: #999999;
        }

    .light-mode header {
        background-color: var(--light-sec);
    }

    .light-mode h1 {
        background: var(--gradient-light);
        -webkit-background-clip: text;
    }

    .light-mode a {
        color: var(--light-purp);
    }

    .light-mode a:hover {
        color: var(--light-purp-hover);
    }

    .light-mode .navbar a {
        color: var(--dark);
    }

    .light-mode .navbar a.active {
        color: var(--dark);
    }

        .light-mode .navbar a:hover {
            background-color: var(--light-hover);
        }

        .light-mode .navbar a.active::after {
            background-color: var(--dark);
        }

    .light-mode #dark-mode-toggle {
        color: var(--dark);
    }

        .light-mode #dark-mode-toggle:hover {
            background-color: var(--light-hover);
        }

    .light-mode #moon {
        display: inline;
    }

    .light-mode #sun {
        display: none;
    }

    .light-mode .social-media-list a {
        color: var(--dark);
    }

/* Dark Mode */
.dark-mode {
    background-color: var(--dark);
    color: var(--light);
}

    .dark-mode::-webkit-scrollbar-track {
        background: var(--dark);
    }

    .dark-mode::-webkit-scrollbar-thumb {
        background: #474747;
    }

        .dark-mode::-webkit-scrollbar-thumb:hover {
            background: var(--dark-hover);
        }

    .dark-mode header {
        background-color: var(--dark-sec);
    }

    .dark-mode h1 {
        background: var(--gradient-dark);
        -webkit-background-clip: text;
    }

    .dark-mode a {
        color: var(--dark-purp);
    }

    .dark-mode a:hover {
        color: var(--dark-purp-hover);
    }

    .dark-mode .navbar a {
        color: var(--light);
    }

    .dark-mode .navbar a.active {
        color: var(--light);
    }

        .dark-mode .navbar a:hover {
            background-color: var(--dark-hover);
        }

        .dark-mode .navbar a.active::after {
            background-color: var(--light);
        }

    .dark-mode #dark-mode-toggle {
        color: var(--light);
    }

        .dark-mode #dark-mode-toggle:hover {
            background-color: var(--dark-hover);
        }

    .dark-mode #moon {
        display: none;
    }

    .dark-mode #sun {
        display: inline;
    }

    .dark-mode .social-media-list a {
        color: var(--light);
    }
