@page
@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">
}

<h1>Welcome</h1>
<hr />

<section id="intro">
    <h4>Introduction</h4>
    <p>
        I'm Matias, and as a dedicated full stack developer, I bring a disciplined and focused approach to my work.
        I possess a broad range of experience with technologies such as ASP.NET, SQL Server, and Azure, enabling me to make comprehensive contributions throughout project lifecycles.
        I prioritize precision in every aspect of coding and adhere to established principles to ensure the reliability and efficiency of applications.
    </p>
</section>

<section id="projects">
    <h4>Projects</h4>
    <p>
        Explore the <a asp-page="/Projects" class="internal">featured projects</a> that highlight my proficiency in full stack development, encompassing both front-end and back-end technologies.
        These carefully selected works exemplify my commitment to delivering innovative solutions to complex challenges.<br /><br />
        For a deeper dive into my extensive codebase and a comprehensive view of my projects, visit my <a href="https://github.com/Sane7222" target="_blank">GitHub</a>.
    </p>
</section>

<section id="contact">
    <h4>Contact</h4>
    <p>
        I appreciate your interest in exploring my portfolio.
        If you have any inquiries, collaboration opportunities, or would like to discuss potential projects, I welcome you to <a asp-page="/Contact" class="internal">get in touch</a>.<br /><br />
        For a broader professional connection, visit my profile on <a href="https://www.linkedin.com/in/matias-moseley-52526523a/" target="_blank">LinkedIn</a>.
    </p>
</section>

@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}
