@page
@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css">
}

<h1>Welcome</h1>
<hr />

<section id="intro">
    <h3>Introduction</h3>
    <p>
        intro
    </p>
</section>

<section id="about">
    <h3>About</h3>
    <p>
        about
    </p>
</section>

<section id="contact">
    <h3>Contact</h3>
    <p>
        contact
    </p>
</section>

@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}
