@page
@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css">
}

<div>
    <section id="intro">
        <h1>Welcome</h1>
        <p class="lead" style="display: none;">
            Hi, I'm Sane, a passionate full-stack developer. <br /> full stack dev, proficiency in C#, .NET, SQL Server
        </p>
    </section>

    <section id="about">
        <h2>About</h2>
        <p style="display: none;">
            I have a strong background in Computer Science, and I specialize in Full Stack Development.
            With 5 years of experience, I have worked on various projects that showcase my dedication to delivering high-quality software solutions.
        </p>
    </section>

    <section id="work">
        <h2>Work</h2>
        <p style="display: none;">
            Come check out my projects!
        </p>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p style="display: none;">
            I'm always open to new opportunities and collaborations.
            Whether you want to discuss a potential project, explore job opportunities, or just chat about technology, feel free to connect with me.
        </p>
    </section>
</div>
