@page
@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css">
}

<div>
    <section id="intro">
        <h1>Welcome!</h1>
        <p>Hi, I'm Sane, a passionate full-stack developer.</p>
    </section>

    <section id="about-me">
        <h2>About Me</h2>
        <p>
            I have a strong background in Computer Science, and I specialize in Full Stack Development.
            With 5 years of experience, I have worked on various projects that showcase my dedication to delivering high-quality software solutions.
        </p>
    </section>

    <section id="connect">
        <h2>Let's Connect!</h2>
        <p>
            I'm always open to new opportunities and collaborations.
            Whether you want to discuss a potential project, explore job opportunities, or just chat about technology, feel free to connect with me.
        </p>
    </section>
</div>
