@page
@model IndexModel
@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">
}

<h1>Welcome</h1>
<hr />

<section id="intro">
    <h3>Introduction</h3>
    <p>
        Hello, I'm Matias, a cloud certified full stack developer.
        My expertise spans Microsoft Azure, SQL Server, .NET, and C#, enabling me to architect and deliver high-quality enterprise solutions.
        I prioritize precision throughout the development lifecycle, collaborating with cross-functional teams to deliver reliable and efficient applications.
    </p>
</section>

<section id="projects">
    <h3>Projects</h3>
    <p>
        Explore the <a asp-page="/Projects" class="internal">featured projects</a> that highlight my proficiency in full stack development, encompassing both front-end and back-end technologies.
        These carefully selected works exemplify my commitment to delivering innovative solutions to complex challenges.
    </p>
    <p>
        For a deeper dive into my extensive codebase and a comprehensive view of my projects, visit my <a href="https://github.com/Sane7222" target="_blank">GitHub</a>.
    </p>
</section>

<section id="contact">
    <h3>Contact</h3>
    <p>
        I appreciate your interest in exploring my portfolio.
        If you have any inquiries, collaboration opportunities, or would like to discuss potential projects, I welcome you to <a asp-page="/Contact" class="internal">get in touch</a>.
    </p>
    <p>
        For a broader professional connection, visit my profile on <a href="https://www.linkedin.com/in/matias-moseley/" target="_blank">LinkedIn</a>.
    </p>
</section>

@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}
