@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
    var repos = ViewData["CachedRepos"] as List<Repository>;
}

@section Styles {
    <link rel="stylesheet" href="~/css/projects.css">
}

<h1>Projects</h1>
<hr />

<div id="project-grid" class="row">
    @if (repos != null) {
        int i = 0;
        int[] order = new int[] { 1, 3, 2, 4, 0, 0 };
        string[] icons = new string[] { "file-earmark-binary", "database", "bezier2", "diagram-3", "globe2", "bug" };
        foreach (var repo in repos) {
            <div class="card col-lg-4 col-md-6 col-12 order-@order[i]" data-topics="@string.Join(", ", repo.Topics)">
                <a href="@repo.Url" target="_blank" class="card-body">
                    <div class="media-left col-1">
                        <i class="bi bi-@icons[i++] fs-3"></i>
                    </div>
                    <div class="media-body col-10">
                        <h3 class="card-title">@repo.Name</h3>
                        <p class="card-text">@repo.Description</p>
                    </div>
                </a>
            </div>
        }
    }
</div>

@section Scripts {
    <script src="~/js/projects.js" asp-append-version="true"></script>
}